/* CARD */

.card {
	position: relative;
	float: left;
	width: 29%;
	height: 0;
	margin: 2%;
	padding-bottom: 20%;
}

.card__container {
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	/* prevents flicker */

	-webkit-overflow-scrolling: touch;
}

.card__container--closed {
	position: absolute;
	overflow: hidden;
}

.card__container--closed .card__image {
	cursor: pointer;
}

.card__image {
	position: relative;
	left: 50%;
	display: block;
	height: 100%;
	max-height: 500px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.card__content {
	font-family: var(--font-article);
	font-size: var(--font-size);
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 30px 40px 22px;
	background: rgb(255,248,244);
	background: linear-gradient(180deg, rgba(255,248,243,1) 16%, rgba(237,221,201,1) 81%);
}

.card__container--closed .card__content {
	margin-top: 0;
	padding: 5px 16px;
	pointer-events: none;
	background: transparent;
}

.card__caption {
	font-size: 2em;
	max-width: 900px;
	margin: 0 auto;
	padding: 35px 30px 0px;
}

.card__container--closed .card__caption {
	font-size: 1em;
	max-width: none;
	padding: 30px 10px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.card__title {
	font-size: 1.5em;
	line-height: 1;
	margin: 5px 0 0 0;
	color: var(--title-color);
}

.card__container--closed .card__title {
	color: var(--title-color-closed);
}

.card__subtitle {
	font-size: .95em;
	line-height: 1;
	margin: 5px 0 0;
	color: var(--subtitle-color);
}

.card__container--closed .card__subtitle {
	color: var(--subtitle-color-closed);
}

.card__copy {
	font-size: 1.15em;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px 30px 100px;
	color: var(--text-color);
}

.magnified_introduction p:first-of-type {
	font-size: calc(1.15em * 1.1);
	padding: 0 0 1em 0;
}

.card__btn-close {
	font-size: 31px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 36px;
	cursor: pointer;
}

.card__container--closed .card__btn-close {
	display: none;
}

.meta {
	font-size: .85em;
	display: -webkit-flex;
	display: flex;
	padding: 0 0 35px 0;

	-webkit-align-items: center;
	align-items: center;
}

.card__container--closed .meta {
	visibility: hidden;
}

.meta__avatar {
	border-radius: 50%;
}

.meta__author {
	font-weight: bold;
	padding: 0 15px;
}

.meta__date {
	margin: 0 0 0 auto;
}

/* Styling the articles */
.card__container--closed article{
	visibility: hidden;
}

.interview__question {
	font-weight: bold;
}

.float_image__left,
.float_image__rirght {
	display: block;
	line-height: 0;
	margin: 0px;
	
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;

	max-width: 100%;
	height: auto;
}
/* .float_image__right {
	margin-right: 0;
	margin-left: 2em;
	float: right;
} */

.capitalize {
	text-transform: capitalize;
}

@media only screen and (max-width: 980px) {
	.card {
		width: 46%;
		padding-bottom: 32.2%;
	}
	.card__image {
		max-height: 360px;
	}
	.card__content {
		margin-bottom: 0;
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 580px) {
	.card {
		width: 96%;
		padding-bottom: 67.2%;
	}
}

@media only screen and (max-width: 400px) {
	.card__caption {
		font-size: 1.25em;
		padding: 35px 0px 0px;
	}
	.meta {
		padding: 0 0 25px 0;
	}
	.card__copy {
		font-size: 90%;
		padding: 25px 0px 100px;
	}
}

/* Filter */
.filter--hidden {opacity: 0.1}
.filter--hidden .card__container--closed {cursor: default}

/* .card {
	transition: opacity;
	transition-duration: 875ms;
} */
