@import url(normailze.css);
@import url(variables.css);
@import url(card.css);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	/* /* background: rgb(245,245,220); */
	background: linear-gradient(180deg, #fff8f3, #bb843b);
	/* background: linear-gradient(180deg, #542510, #bb843b); */
	/* background-size: cover; */
	min-height: 100%;

	background: rgb(255,248,243);
	background: linear-gradient(180deg, rgba(255,248,243,1) 16%, rgba(237,221,201,1) 81%);
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: var(--fg-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

main {	margin: 1vw auto}

/* Header */
header {
    text-align: center;
    margin: 1vh auto;
}
/* Reduce CLS (i.e. commutative layout shift */
header img {
	text-align: center;
	height: 206px;
	width: 638px;
	padding: 1em;
	padding-bottom: 0;
}
@media screen and (max-width: 50em) {
    header img {
        /* margin: 0 auto; */
        width: 100%;
        height: 100%;
    }
        
}

/* Filter navigation */
nav {
	margin: 0 auto;
	padding: 0 2rem;
	text-align: center;
}

/* Hide radio buttons */
input[type="radio"] {
	display: none;
	position: absolute;
	left: -9999px;
}

.navigation > ul {
	max-width: var(--cards-layout-maxwidth);
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.navigation li {
	margin: var(--filter-margin);
	font-size: var(--filter-fontsize);
}
#filterBar li label {
	text-transform: uppercase;
	cursor: pointer;
	color: var(--filter-color-default);
	text-decoration: none;
	word-wrap: break-word;
}

#filterBar li input[name="rovatok"]:checked + label {
	color: var(--filter-color-checked);
}

.navigation {
	display: block;
	text-align: center;
}

.navigation__list {
	list-style: none;
	/* display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
	display: grid;
	row-gap: 14px;
	position: relative;
}

.navigation__link {
	word-wrap: break-word;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	/* font-size: 0.875rem; */
	font-size: 1.0275rem;
	font-weight: bold;
	/* margin: 15px (20px * 2) 0 (20px * 2); */
	position: relative;
}

.navigation__line {
	height: var(--navline-height);
	position: absolute;
	bottom: 0;
	margin: 10px 0 0 0;
	background: var(--navline-color);
	transition: all 1s;
}

/* Bubble navigation style */
@media screen and (max-width: 1012px) {
	.navigation__line {
		display: none;
	}

	.bubble {
		position: relative;
		display: inline-block;
		/* min-width: 2.7em; */
		text-align: center;
		/* cursor: pointer; */
	}
	
	.bubble span {
		transition: color 0.3s ease-out;
		color: inherit;
	}
	
	.bubble:after,
	.bubble:before,
	.bubble span:before,
	.bubble span:after {
		position: absolute;
		content: '';
		border-radius: 4px;
		background-color: var(--navline-color);
	}
	
	.bubble:after,
	.bubble:before {
		bottom: -6px;
		height: var(--navline-height);
	}
	
	.bubble:after {
		left: 0;
		right: 39px;
	}
	
	.bubble:before {
		right: -2px;
		width: 13px;
	}
	
	.bubble span:before {
		height: 0;
		width: var(--navline-height);
		bottom: -2px;
		right: 7px;
		transition: height .3s, bottom .3s;
	}
	
	.bubble span:after {
		height: var(--navline-height);
		width: 34px;
		bottom: -6px;
		right: 8px;
		transform: rotate(0deg);
		transform-origin: left top;
		transition: transform .3s, right .3s, width .3s, bottom .3s;
	}
	
	.active .bubble span:before {
		height: 22px;
		bottom: -24px;
	}
	
	.active .bubble span:after {
		right: 1px;
		width: 40px;
		transform: rotate(30deg);
	}
	
	.active .bubble {
		outline: 0;
	}
}

@media screen and (max-width: 806px) {
	.navigation__item {
		font-size: 1vw;
		font-size: 1.19em;
	}
}

@media screen and (max-width: 580px) {

	.filter--hidden {
		display: none;
	}
	.navigation__item {
		margin: 0 0.5rem !important;
	}
	.navigation__item label {
		font-size: 0.95rem;
	}

	.active .bubble span:before {
		height: 16px;
		bottom: -18px;
	}
	
	.active .bubble span:after {
		right: 4px;
		width: 37px;
		transform: rotate(21deg);
	}

	.navigation__list {row-gap: 8px}
}

/* Container/Wrapper for closer card thumbnails */
.wrapper {
	overflow: auto;
	/* width: 95%; */
	max-width: var(--cards-layout-maxwidth);
	/* padding: 0 2rem; */
}

/* .filter--hidden {
	opacity: 0.1;
} */