*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: var(--fg-color);
	background: var(--bg-color);
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

/* Header */
header {
    text-align: center;
    margin: 0 auto;
}
/* Reduce CLS (i.e. commutative layout shift */
header img {
	text-align: center;
	height: 308px;
	width: 790px;
}
@media screen and (max-width: 50em) {
    header img {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
        
}

/* Filter navigation */
input[type="radio"] {
	display: none;
	position: absolute;
	left: -9999px;
}
#filterBar {
	max-width: var(--cards-layout-maxwidth);
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
#filterBar li {
	margin: var(--filter-margin);
	font-size: var(--filter-fontsize);
}
#filterBar li label {
	/* line-height: normal; */
	cursor: pointer;
	color: var(--filter-color-default)
}
#filterBar li input[name="rovatok"]:checked + label {
	color: var(--filter-color-checked);
}

@media screen and (max-width: 50em) {
	.filter--hidden {
		display: none;
	}	
}

/* Container/Wrapper for closer card thumbnails */
.wrapper {
	overflow: auto;
	/* width: 95%; */
	max-width: var(--cards-layout-maxwidth);
	margin: 0 auto;
}