@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    /* Main html */
    --bg-color: #2b1200;
    --fg-color: #d38d5f;
    
    /* Filter */
    --filter-color-default: rgb(192, 33, 33);
    --filter-color-checked: rgb(22, 124, 76);
    --filter-fontsize: 1.6em;
    --filter-margin: 0.5rem 00.7rem;
    
    /* Articles */
    --font-article: 'Roboto', sans-serif;
    --text-color: rgb(180, 40, 40);
    --background-color: rgb(245, 241, 20);
    --title-color: #3b393d;
    --subtitle-color: #777778;

    /* Misc */
    --cards-layout-maxwidth: calc(1366px - 100px);
    --title-color-closed: #fff;
    --subtitle-color-closed: #f5f5f5;
}